@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-color: black;
}

nav {
    background-color: rgb(63, 63, 63);
    padding: 20px;
}

nav > a { 
    color: aquamarine;
    padding: 10px;
}

header{
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 10px 10px 10px;
}

header > p{
    padding: 10px;
    text-align: justify;
    font-family: 'Source Serif Pro', serif;
}

.container {
    display: flex;
}

main {
    padding: 1em;
    height: 600px;
}

section {
    margin: auto;
    background-color: gray;
    width: 80%;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section > aside {
    width: 25%;
}

section > article {
    width: 25%;
    padding: 10px;
}

div#separador {
    margin: auto;
    width: 90%;
    background-color: rgb(68, 68, 255);
    color: white;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    border-radius: 100px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em;
}