@charset "utf-8";

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(63, 63, 63);
    padding: 20px;
}

nav > a { 
    color: aquamarine;
    padding: 10px;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 15px;
}

header > p{
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
}

main {
    background-color: whitesmoke;
    padding: 1em;
    height: 300px;
}

main > aside {
    display: inline-block;
    
}

section {
    margin-bottom: 1em;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em;
  }